--extra-index-url https://download.pytorch.org/whl/cpu
torch
pgvector
django
numpy
sentence-transformers
openai
psycopg2-binary
martor
django-tables2
django-filter
html2text
requests
readability-lxml
beautifulsoup4
unidecode
gunicorn