<div class="card border-dark bg-white">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <h2>{{ memo.title }}</h2>
            </div>
            {% include '_memo_actions.html' with memo=memo %}
        </div>
        {% load custom_filters %}
        {% tags_for_user object current_user as user_tags %}
        {% include 'tag/_list_span.html' with tags=user_tags %}

        <div>{{ memo.content|safe_markdown }}</div>
    </div>
    <div class="p-2">
        <h4>Inklings</h4>
        {% include "_inkling_list_group.html" with inklings=memo.inkling_set.all %}
    </div>
</div>