{% load custom_filters %}
<nav id="sidebar" class="bg-secondary sidebar-secondary sidebar h-100" style="min-width: 55px; max-width: 55px;">
    <div class="text-center my-1">
        <a href="#" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#createInklingModal" title="New Inkling"><i class="bi bi-pen"></i></a>
        <a href="{% url 'memo_create' %}" class="btn btn-primary m-1" title="New Memo"><i class="bi bi-journal-plus"></i></a>
        <a href="#" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#createReferenceModal" title="New Reference"><i class="bi-bookmark-plus"></i></a>
        <hr>
        <a href="{% url 'inklings' %}" class="btn btn-primary m-1" title="Inklings"><i class="bi bi-droplet"></i></a>
        <a href="{% url 'memos' %}" class="btn btn-primary m-1" title="Memos"><i class="bi bi-journals"></i></a>
        <a href="{% url 'references' %}" class="btn btn-primary m-1" title="References"><i class="bi bi-book"></i>
        <a href="{% url 'links' %}" class="btn btn-primary m-1" title="Links"><i class="bi bi-link-45deg"></i>
        <a class="btn btn-primary m-1" href="{% url 'link_types' %}" title="Link Types"><i class="bi bi-bezier2"></i>
        </a>

        </a>
    </div>
</nav>

<div class="modal fade" id="createInklingModal" tabindex="-1" aria-labelledby="createInklingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createInklingModalLabel">New Inkling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createInklingForm" method="post" action="{% url 'inkling_create' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="mb-2">
                            {{ new_inkling_form.title|as_bootstrap }}
                        </div>
                        <textarea class="form-control mb-2" id="content" name="content" rows="12" required></textarea>
                        {{ new_inkling_form.privacy_setting }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>    
<div class="modal fade" id="createReferenceModal" tabindex="-1" aria-labelledby="createReferenceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createReferenceModalLabel">New Reference</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createReferenceForm" method="post" action="{% url 'reference_create' %}">
                    {% csrf_token %}
                    <div class="mb-3 form-group">
                        <label class="form-label">Reference URL</label>
                        <input class="form-control" id="url" name="url"></input>
                        
                    </div>
                    <div class="mb-2">
                        {{ new_reference_form.privacy_setting }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>    
