<nav id="sidebar" class="col-3 bg-light sidebar-light sidebar h-100 p-2" style="overflow-y: auto;">
    {% if object.tags.all.exists %}
        <div class="mb-2">
            <h5>Tags</h5>
            {% include 'tag/_list.html' with tags=object.tags.all %}
        </div>
    {% endif %}

    {% for link_type_and_direction, linked in linked_content.items %}
        <div class="mb-2">
            {% if link_type_and_direction.1 == 'outgoing' %}
                <h5>{{link_type_and_direction.0.name}}</h5>
            {% else %}
                <h5>{{link_type_and_direction.0.reverse_name}}</h5>
            {% endif %}
            {% for linked_object in linked %}
                {% include 'feed/_list_member.html' with object=linked_object %}
            {% endfor %}
        </div>
    {% endfor %}
    
    {% if object.inkling_set.exists %}
    <div class="mb-3">
        <h4>Inklings</h4>
        {% for inkling in object.inkling_set.all %}
            <div class="mb-2">
                {% include 'feed/_list_member.html' with object=inkling %}
            </div>
        {% endfor %}    
    </div>
    {% endif %}
    
    {% if object.memo_set.exists %}
    <div class="mb-3">
        <h4>Memos</h4>
        {% for memo in object.memo_set.all %}
        <div class="mb-2">
            {% include 'feed/_list_member.html' with object=memo %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if object.reference_set.exists %}
    <div class="mb-3">
        <h4>Reference</h4>
        {% for reference in object.reference_set.all %}
        <div class="mb-2">
            {% include 'feed/_list_member.html' with object=reference %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</nav>