<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row pb-1">
            <div class="flex-grow-1">
                Search Results: {{ query.query }}
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle text-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li>
                    {% include 'components/_save_as_inkling.html' with content=query.query %}
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>