<div class="card bg-white">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <a href="{% url 'view_inkling' inkling.id %}" class="list-group-item list-group-item-action">
                    {{ inkling.content }}
                </a>        
            </div>
            <div>
                {% include "inkling/_actions.html" with inkling=inkling %}
            </div>
        </div>
    </div>
    <div class="card-footer">
        {% include 'tag/_list_span.html' with tags=inkling.tags.all %}
    </div>
</div>
