{% load custom_filters %}
{% if source_object|class_name == 'tag' %}
<form action="{% url 'tag_add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ source_object.name }}">
    <input type="hidden" name="target_class_name" value="{{ target_object|class_name }}">
    <input type="hidden" name="target_id" value="{{ target_object.pk }}">
    <button class="btn" type="submit">
        <i class="bi bi-node-plus-fill text-primary"></i>
    </button>
</form>   
{% elif source_object|class_name == 'query' %}
{% elif source_object|class_name == 'link' %}
{% else %}
<button class="btn" data-bs-toggle="modal" data-bs-target="#linkToModal{{source_object|class_name}}{{source_object.pk}}">
<i class="bi bi-node-plus-fill text-primary"></i>
</button>
<div class="modal fade" id="linkToModal{{source_object|class_name}}{{source_object.pk}}" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="linkModalLabel">New Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <form action="{% url 'link_create' %}" method="post">    
    <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="source_content_type" value="{{ source_object|content_type_id }}">
        <input type="hidden" name="source_object_id" value="{{ source_object.pk }}">
        <div class="card card-body">
            {{ source_object.title }}
        </div>
        <div>
            <select id="link_type" name="link_type" class="form-control">
            {% for link_type in link_types %}
            <option value="{{ link_type.pk }}">{{ link_type.name }}</option>
            <option value="{{ link_type.pk }}_reverse">{{ link_type.reverse_name }}</option>
            {% endfor %}
        </select>
        </div>
        <input type="hidden" name="target_content_type" value="{{ target_object|content_type_id }}">
        <input type="hidden" name="target_object_id" value="{{ target_object.pk }}">
        <div class="card card-body">
            {{ target_object.title }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Link</button>
    </div>
</form>
    </div>
</div>
</div>      
{% endif %}