{% load custom_filters %}
{% load martortags %}
<div class="card bg-white mb-2">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="text-dark fs-5 text-info mx-1">
                {% include 'components/_icon.html' with object=object %}
            </div>            
            <div class="flex-grow-1 mx-2 align-self-center">
                <a href="{% url object|class_name|add:'_view' object.pk %}">
                    {{ object.title }}{{ object.name }}
                </a>    
            </div>
            <div>
                {% if show_link and not object.name %}
                    {{ object.class_name }}
                    {% include "feed/_link_button.html" with source_object=feed_origin_object target_object=object %}
                {% endif %}
            </div>
        </div>
        <div>
            {{ object.content|safe_markdown|truncatewords:50 }}
        </div>
    </div>
</div>





