{% load custom_filters %}

<div class="card bg-white mb-2">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <a href="{% url object|class_name|add:'_view' object.pk %}">
                    {{ object.title }}
                </a>
            </div>
            <div>
                {% include "feed/_link_button.html" with source_object=feed_origin_object target_object=object %}
            </div>
        </div>
        <div>
            {{ object.content|truncatewords:50 }}
        </div>
    </div>
    <div class="card-footer">
        {% include 'tag/_list_span.html' with tags=object.tags.all %}
    </div>
</div>





