{% load custom_filters %}
{% load martortags %}
<div class="card bg-white mb-2">
    {% if object.user != user %}
        {% include 'components/_user_card_header.html' with object=object %}
    {% endif %}
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="text-dark fs-5 text-info mx-1">
                {% include 'components/_icon.html' with object=object %}
            </div>
            {% if object|class_name == 'link' %}
            <div>
                <div>
                    <a href="{% url object.source_content_object|class_name|add:'_view' object.source_content_object.pk %}">
                        {{ object.source_content_object.title }}
                    </a>
                </div>
                <div>
                    {{ object.link_type.name }}
                </div>
                <div>
                    <a href="{% url object.target_content_object|class_name|add:'_view' object.target_content_object.pk %}">
                        {{ object.target_content_object.title }}
                    </a>    
                </div>
            </div>
            {% else %}
            <div class="flex-grow-1 mx-2 align-self-center">
                <a href="{% url object|class_name|add:'_view' object.pk %}">
                    {{ object.title }}
                </a>    
            </div>
            <div>
                {% if show_link and feed_origin_object and feed_origin_object|class_name != 'query' %}
                    {% if object|class_name == 'tag' %}
                        {% if feed_origin_object|class_name == 'tag'%}
                        {% else %}
                            {% include "feed/_link_button.html" with source_object=object target_object=feed_origin_object %}
                        {% endif %}
                    {% else %}
                        {% include "feed/_link_button.html" with source_object=feed_origin_object target_object=object %}
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div>
            {% if object|class_name == 'inkling' %}
                {{ object.content|safe_markdown|truncatewords:50 }}
                {% else %}
                {{ object.summary }}
            {% endif %}
        </div>
    </div>
</div>





