<div class="btn-group" role="group">
  {% if current_inkling and inkling.pk != current_inkling.pk %}
    {% include 'inkling/_link_button.html' with inkling=inkling current_inkling=current_inkling%}
  {% endif %}
  <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu">
        <li>
          {% include 'inkling/_delete_form.html' with inkling=inkling %}
        </li>
      </ul>
  </div>
</div>
