#sidebar, #similar_sidebar {
    height: calc(100% - 80px); /* 80px is the navbar's height */
    overflow-y: auto;
}



:root {
    --white: #FEFAE0;
    --light: #FAEDCD;
    --primary: #D4A373;
    --gray: #dee2e6;
    --dark: #3A606E;
}

.tab-martor-menu .nav-tabs {
    border-bottom: #FAEDCD !important;
    padding-bottom: 0.375rem;
}

.tab-martor-menu .nav-link {
    color: var(--dark) !important;
    margin-bottom: 0.375rem;
    margin-right: 0.375rem;
}

.tab-martor-menu .btn-toolbar {
    margin-top: 0.375rem !important;
}

.tab-martor-menu .nav-link.active {
    background-color: var(--primary) !important;
    border-radius: 0.5rem;
    border: none !important;
    color: var(--light) !important;
}

.martor-field {
    background-color: var(--white) !important;
    border: 1px solid var(--gray) !important;
    border-radius: 0.25rem;
}


.martor-field.ace_focus {
    outline: 0;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    border-color: #ead1b9 !important;
    box-shadow:0 0 0 .25rem rgba(212,163,115,.25) !important;
}

.ace_scroller {
    left: 0px !important;
}

.ace_gutter {
    display: none !important;
}

.ace_active-line {
    background: var(--white) !important;
}

.martor-preview {
    background-color: var(--light) !important;
}

div.martor-preview-stale {
    background: none !important;
}
