<div class="btn-group" role="group">
  {% if current_inkling and inkling.pk != current_inkling.pk %}
    {% include '_inkling_link_button.html' with inkling=inkling current_inkling=current_inkling%}
  {% endif %}
  <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'delete_inkling' inkling.pk %}" onclick="return confirm('Are you sure you want to delete this Inkling?');">Delete Inkling</a></li>
      </ul>
  </div>
</div>
