<div class="card border-dark bg-white">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <a href="{% url 'view_inkling' inkling.id %}" class="list-group-item list-group-item-action">
                    {{ inkling.content }}
                </a>        
            </div>
            <div>
                {% include "_inkling_actions.html" with inkling=inkling %}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span>
            {% if inkling.tags.all %}
            {% for tag in inkling.tags.all %}
                {% include "_tag.html" with tag=tag %}
            {% endfor %}
            {% endif %}    
        </span>
    </div>
</div>
