{% load martortags %}

<div class="card border-success">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <h2>{{ memo.title }}</h2>
            </div>
            {% include '_memo_actions.html' with memo=memo %}
        </div>

        {% if memo.tags.all %}
            {% for tag in memo.tags.all %}
                {% include "_tag.html" with tag=tag %}
            {% endfor %}
        {% endif %}

        <div>{{ memo.content|safe_markdown }}</div>
    </div>
    <div class="p-2">
        <h4>Inklings</h4>
        {% include "_inkling_list_group.html" with inklings=memo.inkling_set.all %}
    </div>
</div>