<nav id="sidebar" class="col-3 bg-light sidebar-light sidebar h-100" style="overflow-y: auto;">
    <div class="position-sticky">
        {% include '_search_box.html' %}
        <div class=" p-2">
            <ul class="nav nav-pills nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link {% if not tag %} active{% endif %}" id="memos-tab" data-bs-toggle="pill" href="#memos">Memos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if tag %} active {% endif %}" id="tags-tab" data-bs-toggle="pill" href="#tags">Tags</a>
                </li>
            </ul>    
        </div>
        <div class="tab-content p-2">
            <div class="tab-pane fade {% if not tag %} active show {% endif %}" id="memos">
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for a_memo in all_memos %}
                        <li class="nav-item">
                            <a href="{% url 'view_memo' a_memo.id %}" class="nav-link{% if a_memo.id == memo.id %} active{% endif %}">
                                {{ a_memo.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade {% if tag %} active show {% endif %}" id="tags">
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for a_tag in all_tags %}
                        <li class="nav-item">
                            <a href="{% url 'view_tag' a_tag.id %}" class="nav-link{% if tag.id == a_tag.id %} active{% endif %}">
                                {{ a_tag.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
