<nav id="sidebar" class="col-3 bg-dark sidebar-dark sidebar h-100" style="overflow-y: auto;">
    <div class="position-sticky">
        {% include '_search_box.html' %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" id="tags-tab" data-bs-toggle="pill" href="#tags">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="memos-tab" data-bs-toggle="pill" href="#memos">Memos</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="memos">

                <ul class="nav nav-pills flex-column mb-auto">
                    {% for memo in all_memos %}
                        <li class="nav-item">
                            <a href="{% url 'view_memo' memo.id %}" class="nav-link{% if memo.id == active_memo_id %} active{% endif %}">
                                {{ memo.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade active show" id="tags">
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for tag in all_tags %}
                        <li class="nav-item">
                            <a href="{% url 'view_tag' tag.id %}" class="nav-link{% if tag.id == active_tag_id %} active{% endif %}">
                                {{ tag.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
