{% extends 'base.html' %}

{% block viewer %}

<div class="row">
    <nav id="sidebar" class="col-3 bg-dark sidebar">
        <div class="position-sticky">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="tags-tab" data-bs-toggle="pill" href="#tags">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="memos-tab" data-bs-toggle="pill" href="#memos">Memos</a>
                </li>
            </ul>
            
            <!-- Pill content -->
            <div class="tab-content">
                <div class="tab-pane fade" id="memos">

                    <ul class="nav nav-pills flex-column mb-auto">
                        {% for memo in memos %}
                            <li class="nav-item">
                                <a href="{% url 'view_memo' memo.id %}" class="nav-link{% if memo.id == active_memo_id %} active{% endif %}">
                                    {{ memo.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade active show" id="tags">
                    <ul class="nav nav-pills flex-column mb-auto">
                        {% for tag in tags %}
                            <li class="nav-item">
                                <a href="{% url 'view_tag' tag.id %}" class="nav-link{% if tag.id == active_tag_id %} active{% endif %}">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main Content Area -->
    <main class="col-9 p-3">
        {% block content %}
        <!-- Content for specific views will be injected here -->
        {% endblock %}
    </main>
</div>

{% endblock %}