{% extends 'inkling_viewer.html' %}
{% load bootstrap_filters %}

{% block content %}
<div class="container-fluid">
    <h2>Create Memo</h2>

    <form method="post" class="memo-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.title|as_bootstrap }}
        </div>

        <div class="form-group">
            {{ form.content|as_bootstrap }}
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


{% endblock %}
