{% extends 'inkling_viewer.html' %}

{% block content %}
<h1>Search Results: {{ query }}</h1>
    
<h3>Tags</h3>
{% for tag in tags %}
    {% include "_tag.html" with tag=tag %}
{% empty %}
    <p>No tags found.</p>
{% endfor %}

<h3>Inklings</h3>
{% for inkling in inklings %}
    <div class="pb-2">
        {% include "_inkling.html" with inkling=inkling %}
    </div>
{% empty %}
    <p>No inklings found.</p>
{% endfor %}
<!-- <h3>Memos</h3>
{% for memo in tag.memo_set.all %}
    <div class="pb-2">
        {% include "_memo_summary.html" with memo=memo %}
    </div>
{% endfor %}
 -->
{% endblock %}
